openapi: 3.1.0
info:
  title: Labayh Content API
  version: wp/v2
  summary: Public read access to Labayh's consultant directory, therapeutic programs, support groups,
    webinars and editorial content.
  description: Labayh (لبيه) publishes its consultant directory, therapeutic programs, support groups,
    webinars and editorial content through the WordPress REST API mounted at https://labayh.net/wp-json.
    The collection and item GET operations documented here were verified to respond 200 anonymously; at
    derivation time the directory exposed 875 consultants across 255 specialty categories, 2,162 blog
    articles, 33 recorded webinars, 10 therapeutic programs and 12 support groups. Write operations are
    listed because the server advertises them, but they require an authenticated WordPress user and are
    not part of a published partner program. This description was derived from the server's own discovery
    document and per-route OPTIONS schemas — Labayh does not publish an OpenAPI description or a developer
    portal of its own.
  contact:
    name: Labayh
    url: https://labayh.net/en/contact-us/
  termsOfService: https://labayh.net/en/terms-conditions/
  x-derived-from: https://labayh.net/wp-json/
  x-derivation-method: derived
  x-derivation-date: '2026-07-19'
servers:
- url: https://labayh.net/wp-json
  description: Production
tags:
- name: Consultants
  description: Licensed psychologists, psychiatrists and family counsellors listed on Labayh, and the
    specialty taxonomy used to classify them.
- name: Programs
  description: Structured therapeutic programs and their categories.
- name: Support Groups
  description: Peer support group offerings and their categories.
- name: Webinars
  description: Live and recorded webinar sessions and their categories.
- name: Events
  description: Events published by Labayh and their categories.
- name: Content
  description: Blog articles, pages, media, taxonomy terms, comments and author profiles.
- name: Meta
  description: Discovery, registered types, taxonomies, statuses and cross-content search.
security:
- applicationPassword: []
- cookieNonce: []
paths:
  /wp/v2/consultant:
    get:
      operationId: listConsultant
      summary: List consultant
      description: Licensed mental-health specialists listed on Labayh.
      tags:
      - Consultants
      security: []
      parameters:
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: حصر الرد على المقالات المنشورة بعد تاريخ مُعطى ومتوافق مع معيار ISO8601.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: حصر الرد على المقالات المنشورة قبل تاريخ مُعطى ومتوافق مع معيار ISO8601.
      - name: consultant_categories
        in: query
        required: false
        schema:
          type: object
          additionalProperties: true
        description: حصر النتائج على العناصر التي ﻻ تمتلك عناصر مُعينة مسندة في الفئة consultant_categories.
      - name: consultant_categories_exclude
        in: query
        required: false
        schema:
          type: object
          additionalProperties: true
        description: حصر النتائج على العناصر التي ﻻ تمتلك عناصر مُعينة مسندة في الفئة consultant_categories.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: نطاق الطلب؛ يحدد أي الحقول ستظهر في الرد.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: تأكد أن النتيجة تستثني معرِّفات معينة.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: حصر النتائج على مُعرفات مُعينة.
      - name: menu_order
        in: query
        required: false
        schema:
          type: integer
        description: حصر النتيجة على مقالات مع قيمة menu_order مُعينة.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: حصر الرد على المقالات المعدلة بعد تاريخ مُعطى ومتوافق مع معيار ISO8601.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: حصر الرد على المقالات المعدلة قبل تاريخ مُعطى ومتوافق مع معيار ISO8601.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: تخطي النتائج برقم محدد من العناصر.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: خاصية الترتيب إما تصاعدي أو تنازلي.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          - menu_order
          default: date
        description: فرز المجموعة حسب خاصية المقالة.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: الصفحة الحالية للمجموعة.
      - name: parent
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: حصر النتائج على العناصر المرتبطة بعنصر أب مُعين.
      - name: parent_exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: حصر النتائج على العناصر الغير مرتبطة بعنصر أب مُعين.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: العدد الأقصى للعناصر ليتم إرجاعه في النتائج.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: حصر النتائج على مطابقة سلسلة نصية.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
          default: []
        description: مجموعة من أسماء الأعمدة التي يتعين البحث فيها
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: كيفية تفسير مدخلات البحث.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: حصر النتيجة على مقالات مع اسم أو عدة أسماء لطيفة مُعينة.
      - name: status
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - any
          default: publish
        description: حصر النتيجة على المقالات المُسندة لحالة واحدة أو أكثر.
      - name: tax_relation
        in: query
        required: false
        schema:
          type: string
          enum:
          - AND
          - OR
        description: حصر النتائج بناءً على العلاقة بين عدة فئات.
      responses:
        '200':
          description: A page of consultant.
          headers:
            X-WP-Total:
              description: Total number of matching items.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available.
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items: &id001
                  $ref: '#/components/schemas/Consultant'
        '400':
          $ref: '#/components/responses/BadRequest'
      x-observed-total: 875
    post:
      operationId: createConsultant
      summary: Create a consultant
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Consultants
      requestBody:
        content:
          application/json:
            schema: *id001
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema: *id001
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /wp/v2/consultant/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: Unique identifier for the consultant item.
      schema:
        type: integer
    get:
      operationId: getConsultant
      summary: Retrieve a single consultant item
      tags:
      - Consultants
      security: []
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: نطاق الطلب؛ يحدد أي الحقول ستظهر في الرد.
      - name: excerpt_length
        in: query
        required: false
        schema:
          type: integer
        description: تجاوز طول المقتطف الافتراضي.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: كلمة مرور المقالة إذا كانت محمية بكلمة مرور.
      responses:
        '200':
          description: The requested item.
          content:
            application/json:
              schema: *id001
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateConsultant
      summary: Update a consultant item
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Consultants
      requestBody:
        content:
          application/json:
            schema: *id001
      responses:
        '200':
          description: The updated item.
          content:
            application/json:
              schema: *id001
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteConsultant
      summary: Delete a consultant item
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Consultants
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: ما إذا كان يجب تخطي سلة المهملات وإجبار الحذف.
      responses:
        '200':
          description: The deleted item.
          content:
            application/json:
              schema: *id001
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/consultant_categories:
    get:
      operationId: listConsultantCategories
      summary: List consultant categories
      description: Specialty categories used to classify consultants.
      tags:
      - Consultants
      security: []
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: نطاق الطلب؛ يحدد أي الحقول ستظهر في الرد.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: تأكد أن النتيجة تستثني معرِّفات معينة.
      - name: hide_empty
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: ما إذا يجب إخفاء العناصر الغير مُسندة لأي مقالة.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: حصر النتائج على مُعرفات مُعينة.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: خاصية الترتيب إما تصاعدي أو تنازلي.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
        description: فرز المجموعة حسب خاصية العنصر.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: الصفحة الحالية للمجموعة.
      - name: parent
        in: query
        required: false
        schema:
          type: integer
        description: حصر النتيجة على عناصر مُسندة لعنصر أب مُعين.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: العدد الأقصى للعناصر ليتم إرجاعه في النتائج.
      - name: post
        in: query
        required: false
        schema:
          type: integer
        description: حصر النتيجة على عناصر مُسندة لمقالة مُعينة.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: حصر النتائج على مطابقة سلسلة نصية.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: حصر النتائج للفئات مع اسم أو عدة أسماء لطيفة مُعينة.
      responses:
        '200':
          description: A page of consultant categories.
          headers:
            X-WP-Total:
              description: Total number of matching items.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available.
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items: &id002
                  $ref: '#/components/schemas/ConsultantCategory'
        '400':
          $ref: '#/components/responses/BadRequest'
      x-observed-total: 255
    post:
      operationId: createConsultantCategory
      summary: Create a consultant categorie
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Consultants
      requestBody:
        content:
          application/json:
            schema: *id002
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema: *id002
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /wp/v2/consultant_categories/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: Unique identifier for the consultant categories item.
      schema:
        type: integer
    get:
      operationId: getConsultantCategory
      summary: Retrieve a single consultant categories item
      tags:
      - Consultants
      security: []
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: نطاق الطلب؛ يحدد أي الحقول ستظهر في الرد.
      responses:
        '200':
          description: The requested item.
          content:
            application/json:
              schema: *id002
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateConsultantCategory
      summary: Update a consultant categories item
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Consultants
      requestBody:
        content:
          application/json:
            schema: *id002
      responses:
        '200':
          description: The updated item.
          content:
            application/json:
              schema: *id002
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteConsultantCategory
      summary: Delete a consultant categories item
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Consultants
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: مطلوب أن تكون true، لأن العناصر لا تدعم النقل لسلة المهملات.
      responses:
        '200':
          description: The deleted item.
          content:
            application/json:
              schema: *id002
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/program:
    get:
      operationId: listProgram
      summary: List program
      description: Structured therapeutic programs.
      tags:
      - Programs
      security: []
      parameters:
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: حصر الرد على المقالات المنشورة بعد تاريخ مُعطى ومتوافق مع معيار ISO8601.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: حصر الرد على المقالات المنشورة قبل تاريخ مُعطى ومتوافق مع معيار ISO8601.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: نطاق الطلب؛ يحدد أي الحقول ستظهر في الرد.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: تأكد أن النتيجة تستثني معرِّفات معينة.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: حصر النتائج على مُعرفات مُعينة.
      - name: menu_order
        in: query
        required: false
        schema:
          type: integer
        description: حصر النتيجة على مقالات مع قيمة menu_order مُعينة.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: حصر الرد على المقالات المعدلة بعد تاريخ مُعطى ومتوافق مع معيار ISO8601.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: حصر الرد على المقالات المعدلة قبل تاريخ مُعطى ومتوافق مع معيار ISO8601.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: تخطي النتائج برقم محدد من العناصر.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: خاصية الترتيب إما تصاعدي أو تنازلي.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          - menu_order
          default: date
        description: فرز المجموعة حسب خاصية المقالة.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: الصفحة الحالية للمجموعة.
      - name: parent
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: حصر النتائج على العناصر المرتبطة بعنصر أب مُعين.
      - name: parent_exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: حصر النتائج على العناصر الغير مرتبطة بعنصر أب مُعين.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: العدد الأقصى للعناصر ليتم إرجاعه في النتائج.
      - name: program_categories
        in: query
        required: false
        schema:
          type: object
          additionalProperties: true
        description: حصر النتائج على العناصر التي ﻻ تمتلك عناصر مُعينة مسندة في الفئة program_categories.
      - name: program_categories_exclude
        in: query
        required: false
        schema:
          type: object
          additionalProperties: true
        description: حصر النتائج على العناصر التي ﻻ تمتلك عناصر مُعينة مسندة في الفئة program_categories.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: حصر النتائج على مطابقة سلسلة نصية.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
          default: []
        description: مجموعة من أسماء الأعمدة التي يتعين البحث فيها
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: كيفية تفسير مدخلات البحث.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: حصر النتيجة على مقالات مع اسم أو عدة أسماء لطيفة مُعينة.
      - name: status
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - any
          default: publish
        description: حصر النتيجة على المقالات المُسندة لحالة واحدة أو أكثر.
      - name: tax_relation
        in: query
        required: false
        schema:
          type: string
          enum:
          - AND
          - OR
        description: حصر النتائج بناءً على العلاقة بين عدة فئات.
      responses:
        '200':
          description: A page of program.
          headers:
            X-WP-Total:
              description: Total number of matching items.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available.
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items: &id003
                  $ref: '#/components/schemas/Program'
        '400':
          $ref: '#/components/responses/BadRequest'
      x-observed-total: 10
    post:
      operationId: createProgram
      summary: Create a program
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Programs
      requestBody:
        content:
          application/json:
            schema: *id003
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema: *id003
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /wp/v2/program/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: Unique identifier for the program item.
      schema:
        type: integer
    get:
      operationId: getProgram
      summary: Retrieve a single program item
      tags:
      - Programs
      security: []
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: نطاق الطلب؛ يحدد أي الحقول ستظهر في الرد.
      - name: excerpt_length
        in: query
        required: false
        schema:
          type: integer
        description: تجاوز طول المقتطف الافتراضي.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: كلمة مرور المقالة إذا كانت محمية بكلمة مرور.
      responses:
        '200':
          description: The requested item.
          content:
            application/json:
              schema: *id003
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateProgram
      summary: Update a program item
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Programs
      requestBody:
        content:
          application/json:
            schema: *id003
      responses:
        '200':
          description: The updated item.
          content:
            application/json:
              schema: *id003
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteProgram
      summary: Delete a program item
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Programs
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: ما إذا كان يجب تخطي سلة المهملات وإجبار الحذف.
      responses:
        '200':
          description: The deleted item.
          content:
            application/json:
              schema: *id003
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/program_categories:
    get:
      operationId: listProgramCategories
      summary: List program categories
      description: Categories used to classify therapeutic programs.
      tags:
      - Programs
      security: []
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: نطاق الطلب؛ يحدد أي الحقول ستظهر في الرد.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: تأكد أن النتيجة تستثني معرِّفات معينة.
      - name: hide_empty
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: ما إذا يجب إخفاء العناصر الغير مُسندة لأي مقالة.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: حصر النتائج على مُعرفات مُعينة.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: خاصية الترتيب إما تصاعدي أو تنازلي.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
        description: فرز المجموعة حسب خاصية العنصر.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: الصفحة الحالية للمجموعة.
      - name: parent
        in: query
        required: false
        schema:
          type: integer
        description: حصر النتيجة على عناصر مُسندة لعنصر أب مُعين.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: العدد الأقصى للعناصر ليتم إرجاعه في النتائج.
      - name: post
        in: query
        required: false
        schema:
          type: integer
        description: حصر النتيجة على عناصر مُسندة لمقالة مُعينة.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: حصر النتائج على مطابقة سلسلة نصية.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: حصر النتائج للفئات مع اسم أو عدة أسماء لطيفة مُعينة.
      responses:
        '200':
          description: A page of program categories.
          headers:
            X-WP-Total:
              description: Total number of matching items.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available.
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items: &id004
                  $ref: '#/components/schemas/ProgramCategory'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      operationId: createProgramCategory
      summary: Create a program categorie
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Programs
      requestBody:
        content:
          application/json:
            schema: *id004
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema: *id004
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /wp/v2/program_categories/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: Unique identifier for the program categories item.
      schema:
        type: integer
    get:
      operationId: getProgramCategory
      summary: Retrieve a single program categories item
      tags:
      - Programs
      security: []
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: نطاق الطلب؛ يحدد أي الحقول ستظهر في الرد.
      responses:
        '200':
          description: The requested item.
          content:
            application/json:
              schema: *id004
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateProgramCategory
      summary: Update a program categories item
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Programs
      requestBody:
        content:
          application/json:
            schema: *id004
      responses:
        '200':
          description: The updated item.
          content:
            application/json:
              schema: *id004
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteProgramCategory
      summary: Delete a program categories item
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Programs
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: مطلوب أن تكون true، لأن العناصر لا تدعم النقل لسلة المهملات.
      responses:
        '200':
          description: The deleted item.
          content:
            application/json:
              schema: *id004
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/support_group:
    get:
      operationId: listSupportGroup
      summary: List support group
      description: Peer support group offerings.
      tags:
      - Support Groups
      security: []
      parameters:
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: حصر الرد على المقالات المنشورة بعد تاريخ مُعطى ومتوافق مع معيار ISO8601.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: حصر الرد على المقالات المنشورة قبل تاريخ مُعطى ومتوافق مع معيار ISO8601.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: نطاق الطلب؛ يحدد أي الحقول ستظهر في الرد.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: تأكد أن النتيجة تستثني معرِّفات معينة.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: حصر النتائج على مُعرفات مُعينة.
      - name: menu_order
        in: query
        required: false
        schema:
          type: integer
        description: حصر النتيجة على مقالات مع قيمة menu_order مُعينة.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: حصر الرد على المقالات المعدلة بعد تاريخ مُعطى ومتوافق مع معيار ISO8601.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: حصر الرد على المقالات المعدلة قبل تاريخ مُعطى ومتوافق مع معيار ISO8601.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: تخطي النتائج برقم محدد من العناصر.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: خاصية الترتيب إما تصاعدي أو تنازلي.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          - menu_order
          default: date
        description: فرز المجموعة حسب خاصية المقالة.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: الصفحة الحالية للمجموعة.
      - name: parent
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: حصر النتائج على العناصر المرتبطة بعنصر أب مُعين.
      - name: parent_exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: حصر النتائج على العناصر الغير مرتبطة بعنصر أب مُعين.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: العدد الأقصى للعناصر ليتم إرجاعه في النتائج.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: حصر النتائج على مطابقة سلسلة نصية.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
          default: []
        description: مجموعة من أسماء الأعمدة التي يتعين البحث فيها
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: كيفية تفسير مدخلات البحث.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: حصر النتيجة على مقالات مع اسم أو عدة أسماء لطيفة مُعينة.
      - name: status
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - any
          default: publish
        description: حصر النتيجة على المقالات المُسندة لحالة واحدة أو أكثر.
      - name: support_group_categories
        in: query
        required: false
        schema:
          type: object
          additionalProperties: true
        description: حصر النتائج على العناصر التي ﻻ تمتلك عناصر مُعينة مسندة في الفئة support_group_categories.
      - name: support_group_categories_exclude
        in: query
        required: false
        schema:
          type: object
          additionalProperties: true
        description: حصر النتائج على العناصر التي ﻻ تمتلك عناصر مُعينة مسندة في الفئة support_group_categories.
      - name: tax_relation
        in: query
        required: false
        schema:
          type: string
          enum:
          - AND
          - OR
        description: حصر النتائج بناءً على العلاقة بين عدة فئات.
      responses:
        '200':
          description: A page of support group.
          headers:
            X-WP-Total:
              description: Total number of matching items.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available.
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items: &id005
                  $ref: '#/components/schemas/SupportGroup'
        '400':
          $ref: '#/components/responses/BadRequest'
      x-observed-total: 12
    post:
      operationId: createSupportGroup
      summary: Create a support group
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Support Groups
      requestBody:
        content:
          application/json:
            schema: *id005
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema: *id005
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /wp/v2/support_group/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: Unique identifier for the support group item.
      schema:
        type: integer
    get:
      operationId: getSupportGroup
      summary: Retrieve a single support group item
      tags:
      - Support Groups
      security: []
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: نطاق الطلب؛ يحدد أي الحقول ستظهر في الرد.
      - name: excerpt_length
        in: query
        required: false
        schema:
          type: integer
        description: تجاوز طول المقتطف الافتراضي.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: كلمة مرور المقالة إذا كانت محمية بكلمة مرور.
      responses:
        '200':
          description: The requested item.
          content:
            application/json:
              schema: *id005
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateSupportGroup
      summary: Update a support group item
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Support Groups
      requestBody:
        content:
          application/json:
            schema: *id005
      responses:
        '200':
          description: The updated item.
          content:
            application/json:
              schema: *id005
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteSupportGroup
      summary: Delete a support group item
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Support Groups
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: ما إذا كان يجب تخطي سلة المهملات وإجبار الحذف.
      responses:
        '200':
          description: The deleted item.
          content:
            application/json:
              schema: *id005
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/support_group_categories:
    get:
      operationId: listSupportGroupCategories
      summary: List support group categories
      description: Categories used to classify support groups.
      tags:
      - Support Groups
      security: []
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: نطاق الطلب؛ يحدد أي الحقول ستظهر في الرد.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: تأكد أن النتيجة تستثني معرِّفات معينة.
      - name: hide_empty
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: ما إذا يجب إخفاء العناصر الغير مُسندة لأي مقالة.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: حصر النتائج على مُعرفات مُعينة.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: خاصية الترتيب إما تصاعدي أو تنازلي.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
        description: فرز المجموعة حسب خاصية العنصر.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: الصفحة الحالية للمجموعة.
      - name: parent
        in: query
        required: false
        schema:
          type: integer
        description: حصر النتيجة على عناصر مُسندة لعنصر أب مُعين.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: العدد الأقصى للعناصر ليتم إرجاعه في النتائج.
      - name: post
        in: query
        required: false
        schema:
          type: integer
        description: حصر النتيجة على عناصر مُسندة لمقالة مُعينة.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: حصر النتائج على مطابقة سلسلة نصية.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: حصر النتائج للفئات مع اسم أو عدة أسماء لطيفة مُعينة.
      responses:
        '200':
          description: A page of support group categories.
          headers:
            X-WP-Total:
              description: Total number of matching items.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available.
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items: &id006
                  $ref: '#/components/schemas/SupportGroupCategory'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      operationId: createSupportGroupCategory
      summary: Create a support group categorie
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Support Groups
      requestBody:
        content:
          application/json:
            schema: *id006
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema: *id006
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /wp/v2/support_group_categories/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: Unique identifier for the support group categories item.
      schema:
        type: integer
    get:
      operationId: getSupportGroupCategory
      summary: Retrieve a single support group categories item
      tags:
      - Support Groups
      security: []
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: نطاق الطلب؛ يحدد أي الحقول ستظهر في الرد.
      responses:
        '200':
          description: The requested item.
          content:
            application/json:
              schema: *id006
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateSupportGroupCategory
      summary: Update a support group categories item
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Support Groups
      requestBody:
        content:
          application/json:
            schema: *id006
      responses:
        '200':
          description: The updated item.
          content:
            application/json:
              schema: *id006
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteSupportGroupCategory
      summary: Delete a support group categories item
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Support Groups
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: مطلوب أن تكون true، لأن العناصر لا تدعم النقل لسلة المهملات.
      responses:
        '200':
          description: The deleted item.
          content:
            application/json:
              schema: *id006
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/recorded_webinar:
    get:
      operationId: listRecordedWebinar
      summary: List recorded webinar
      description: Recorded webinar sessions.
      tags:
      - Webinars
      security: []
      parameters:
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: حصر الرد على المقالات المنشورة بعد تاريخ مُعطى ومتوافق مع معيار ISO8601.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: حصر الرد على المقالات المنشورة قبل تاريخ مُعطى ومتوافق مع معيار ISO8601.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: نطاق الطلب؛ يحدد أي الحقول ستظهر في الرد.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: تأكد أن النتيجة تستثني معرِّفات معينة.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: حصر النتائج على مُعرفات مُعينة.
      - name: menu_order
        in: query
        required: false
        schema:
          type: integer
        description: حصر النتيجة على مقالات مع قيمة menu_order مُعينة.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: حصر الرد على المقالات المعدلة بعد تاريخ مُعطى ومتوافق مع معيار ISO8601.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: حصر الرد على المقالات المعدلة قبل تاريخ مُعطى ومتوافق مع معيار ISO8601.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: تخطي النتائج برقم محدد من العناصر.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: خاصية الترتيب إما تصاعدي أو تنازلي.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          - menu_order
          default: date
        description: فرز المجموعة حسب خاصية المقالة.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: الصفحة الحالية للمجموعة.
      - name: parent
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: حصر النتائج على العناصر المرتبطة بعنصر أب مُعين.
      - name: parent_exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: حصر النتائج على العناصر الغير مرتبطة بعنصر أب مُعين.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: العدد الأقصى للعناصر ليتم إرجاعه في النتائج.
      - name: recorded_webinar_categories
        in: query
        required: false
        schema:
          type: object
          additionalProperties: true
        description: حصر النتائج على العناصر التي ﻻ تمتلك عناصر مُعينة مسندة في الفئة recorded_webinar_categories.
      - name: recorded_webinar_categories_exclude
        in: query
        required: false
        schema:
          type: object
          additionalProperties: true
        description: حصر النتائج على العناصر التي ﻻ تمتلك عناصر مُعينة مسندة في الفئة recorded_webinar_categories.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: حصر النتائج على مطابقة سلسلة نصية.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
          default: []
        description: مجموعة من أسماء الأعمدة التي يتعين البحث فيها
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: كيفية تفسير مدخلات البحث.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: حصر النتيجة على مقالات مع اسم أو عدة أسماء لطيفة مُعينة.
      - name: status
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - any
          default: publish
        description: حصر النتيجة على المقالات المُسندة لحالة واحدة أو أكثر.
      - name: tax_relation
        in: query
        required: false
        schema:
          type: string
          enum:
          - AND
          - OR
        description: حصر النتائج بناءً على العلاقة بين عدة فئات.
      responses:
        '200':
          description: A page of recorded webinar.
          headers:
            X-WP-Total:
              description: Total number of matching items.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available.
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items: &id007
                  $ref: '#/components/schemas/RecordedWebinar'
        '400':
          $ref: '#/components/responses/BadRequest'
      x-observed-total: 33
    post:
      operationId: createRecordedWebinar
      summary: Create a recorded webinar
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Webinars
      requestBody:
        content:
          application/json:
            schema: *id007
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema: *id007
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /wp/v2/recorded_webinar/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: Unique identifier for the recorded webinar item.
      schema:
        type: integer
    get:
      operationId: getRecordedWebinar
      summary: Retrieve a single recorded webinar item
      tags:
      - Webinars
      security: []
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: نطاق الطلب؛ يحدد أي الحقول ستظهر في الرد.
      - name: excerpt_length
        in: query
        required: false
        schema:
          type: integer
        description: تجاوز طول المقتطف الافتراضي.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: كلمة مرور المقالة إذا كانت محمية بكلمة مرور.
      responses:
        '200':
          description: The requested item.
          content:
            application/json:
              schema: *id007
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateRecordedWebinar
      summary: Update a recorded webinar item
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Webinars
      requestBody:
        content:
          application/json:
            schema: *id007
      responses:
        '200':
          description: The updated item.
          content:
            application/json:
              schema: *id007
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteRecordedWebinar
      summary: Delete a recorded webinar item
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Webinars
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: ما إذا كان يجب تخطي سلة المهملات وإجبار الحذف.
      responses:
        '200':
          description: The deleted item.
          content:
            application/json:
              schema: *id007
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/recorded_webinar_categories:
    get:
      operationId: listRecordedWebinarCategories
      summary: List recorded webinar categories
      description: Categories used to classify recorded webinars.
      tags:
      - Webinars
      security: []
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: نطاق الطلب؛ يحدد أي الحقول ستظهر في الرد.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: تأكد أن النتيجة تستثني معرِّفات معينة.
      - name: hide_empty
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: ما إذا يجب إخفاء العناصر الغير مُسندة لأي مقالة.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: حصر النتائج على مُعرفات مُعينة.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: خاصية الترتيب إما تصاعدي أو تنازلي.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
        description: فرز المجموعة حسب خاصية العنصر.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: الصفحة الحالية للمجموعة.
      - name: parent
        in: query
        required: false
        schema:
          type: integer
        description: حصر النتيجة على عناصر مُسندة لعنصر أب مُعين.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: العدد الأقصى للعناصر ليتم إرجاعه في النتائج.
      - name: post
        in: query
        required: false
        schema:
          type: integer
        description: حصر النتيجة على عناصر مُسندة لمقالة مُعينة.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: حصر النتائج على مطابقة سلسلة نصية.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: حصر النتائج للفئات مع اسم أو عدة أسماء لطيفة مُعينة.
      responses:
        '200':
          description: A page of recorded webinar categories.
          headers:
            X-WP-Total:
              description: Total number of matching items.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available.
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items: &id008
                  $ref: '#/components/schemas/RecordedWebinarCategory'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      operationId: createRecordedWebinarCategory
      summary: Create a recorded webinar categorie
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Webinars
      requestBody:
        content:
          application/json:
            schema: *id008
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema: *id008
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /wp/v2/recorded_webinar_categories/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: Unique identifier for the recorded webinar categories item.
      schema:
        type: integer
    get:
      operationId: getRecordedWebinarCategory
      summary: Retrieve a single recorded webinar categories item
      tags:
      - Webinars
      security: []
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: نطاق الطلب؛ يحدد أي الحقول ستظهر في الرد.
      responses:
        '200':
          description: The requested item.
          content:
            application/json:
              schema: *id008
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateRecordedWebinarCategory
      summary: Update a recorded webinar categories item
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Webinars
      requestBody:
        content:
          application/json:
            schema: *id008
      responses:
        '200':
          description: The updated item.
          content:
            application/json:
              schema: *id008
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteRecordedWebinarCategory
      summary: Delete a recorded webinar categories item
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Webinars
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: مطلوب أن تكون true، لأن العناصر لا تدعم النقل لسلة المهملات.
      responses:
        '200':
          description: The deleted item.
          content:
            application/json:
              schema: *id008
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/live_webinar:
    get:
      operationId: listLiveWebinar
      summary: List live webinar
      description: Scheduled live webinar sessions.
      tags:
      - Webinars
      security: []
      parameters:
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: حصر الرد على المقالات المنشورة بعد تاريخ مُعطى ومتوافق مع معيار ISO8601.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: حصر الرد على المقالات المنشورة قبل تاريخ مُعطى ومتوافق مع معيار ISO8601.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: نطاق الطلب؛ يحدد أي الحقول ستظهر في الرد.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: تأكد أن النتيجة تستثني معرِّفات معينة.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: حصر النتائج على مُعرفات مُعينة.
      - name: live_webinar_categories
        in: query
        required: false
        schema:
          type: object
          additionalProperties: true
        description: حصر النتائج على العناصر التي ﻻ تمتلك عناصر مُعينة مسندة في الفئة live_webinar_categories.
      - name: live_webinar_categories_exclude
        in: query
        required: false
        schema:
          type: object
          additionalProperties: true
        description: حصر النتائج على العناصر التي ﻻ تمتلك عناصر مُعينة مسندة في الفئة live_webinar_categories.
      - name: menu_order
        in: query
        required: false
        schema:
          type: integer
        description: حصر النتيجة على مقالات مع قيمة menu_order مُعينة.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: حصر الرد على المقالات المعدلة بعد تاريخ مُعطى ومتوافق مع معيار ISO8601.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: حصر الرد على المقالات المعدلة قبل تاريخ مُعطى ومتوافق مع معيار ISO8601.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: تخطي النتائج برقم محدد من العناصر.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: خاصية الترتيب إما تصاعدي أو تنازلي.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          - menu_order
          default: date
        description: فرز المجموعة حسب خاصية المقالة.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: الصفحة الحالية للمجموعة.
      - name: parent
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: حصر النتائج على العناصر المرتبطة بعنصر أب مُعين.
      - name: parent_exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: حصر النتائج على العناصر الغير مرتبطة بعنصر أب مُعين.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: العدد الأقصى للعناصر ليتم إرجاعه في النتائج.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: حصر النتائج على مطابقة سلسلة نصية.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
          default: []
        description: مجموعة من أسماء الأعمدة التي يتعين البحث فيها
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: كيفية تفسير مدخلات البحث.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: حصر النتيجة على مقالات مع اسم أو عدة أسماء لطيفة مُعينة.
      - name: status
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - any
          default: publish
        description: حصر النتيجة على المقالات المُسندة لحالة واحدة أو أكثر.
      - name: tax_relation
        in: query
        required: false
        schema:
          type: string
          enum:
          - AND
          - OR
        description: حصر النتائج بناءً على العلاقة بين عدة فئات.
      responses:
        '200':
          description: A page of live webinar.
          headers:
            X-WP-Total:
              description: Total number of matching items.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available.
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items: &id009
                  $ref: '#/components/schemas/LiveWebinar'
        '400':
          $ref: '#/components/responses/BadRequest'
      x-observed-total: 0
    post:
      operationId: createLiveWebinar
      summary: Create a live webinar
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Webinars
      requestBody:
        content:
          application/json:
            schema: *id009
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema: *id009
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /wp/v2/live_webinar/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: Unique identifier for the live webinar item.
      schema:
        type: integer
    get:
      operationId: getLiveWebinar
      summary: Retrieve a single live webinar item
      tags:
      - Webinars
      security: []
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: نطاق الطلب؛ يحدد أي الحقول ستظهر في الرد.
      - name: excerpt_length
        in: query
        required: false
        schema:
          type: integer
        description: تجاوز طول المقتطف الافتراضي.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: كلمة مرور المقالة إذا كانت محمية بكلمة مرور.
      responses:
        '200':
          description: The requested item.
          content:
            application/json:
              schema: *id009
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateLiveWebinar
      summary: Update a live webinar item
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Webinars
      requestBody:
        content:
          application/json:
            schema: *id009
      responses:
        '200':
          description: The updated item.
          content:
            application/json:
              schema: *id009
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteLiveWebinar
      summary: Delete a live webinar item
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Webinars
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: ما إذا كان يجب تخطي سلة المهملات وإجبار الحذف.
      responses:
        '200':
          description: The deleted item.
          content:
            application/json:
              schema: *id009
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/live_webinar_categories:
    get:
      operationId: listLiveWebinarCategories
      summary: List live webinar categories
      description: Categories used to classify live webinars.
      tags:
      - Webinars
      security: []
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: نطاق الطلب؛ يحدد أي الحقول ستظهر في الرد.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: تأكد أن النتيجة تستثني معرِّفات معينة.
      - name: hide_empty
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: ما إذا يجب إخفاء العناصر الغير مُسندة لأي مقالة.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: حصر النتائج على مُعرفات مُعينة.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: خاصية الترتيب إما تصاعدي أو تنازلي.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
        description: فرز المجموعة حسب خاصية العنصر.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: الصفحة الحالية للمجموعة.
      - name: parent
        in: query
        required: false
        schema:
          type: integer
        description: حصر النتيجة على عناصر مُسندة لعنصر أب مُعين.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: العدد الأقصى للعناصر ليتم إرجاعه في النتائج.
      - name: post
        in: query
        required: false
        schema:
          type: integer
        description: حصر النتيجة على عناصر مُسندة لمقالة مُعينة.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: حصر النتائج على مطابقة سلسلة نصية.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: حصر النتائج للفئات مع اسم أو عدة أسماء لطيفة مُعينة.
      responses:
        '200':
          description: A page of live webinar categories.
          headers:
            X-WP-Total:
              description: Total number of matching items.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available.
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items: &id010
                  $ref: '#/components/schemas/LiveWebinarCategory'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      operationId: createLiveWebinarCategory
      summary: Create a live webinar categorie
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Webinars
      requestBody:
        content:
          application/json:
            schema: *id010
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema: *id010
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /wp/v2/live_webinar_categories/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: Unique identifier for the live webinar categories item.
      schema:
        type: integer
    get:
      operationId: getLiveWebinarCategory
      summary: Retrieve a single live webinar categories item
      tags:
      - Webinars
      security: []
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: نطاق الطلب؛ يحدد أي الحقول ستظهر في الرد.
      responses:
        '200':
          description: The requested item.
          content:
            application/json:
              schema: *id010
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateLiveWebinarCategory
      summary: Update a live webinar categories item
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Webinars
      requestBody:
        content:
          application/json:
            schema: *id010
      responses:
        '200':
          description: The updated item.
          content:
            application/json:
              schema: *id010
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteLiveWebinarCategory
      summary: Delete a live webinar categories item
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Webinars
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: مطلوب أن تكون true، لأن العناصر لا تدعم النقل لسلة المهملات.
      responses:
        '200':
          description: The deleted item.
          content:
            application/json:
              schema: *id010
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/event:
    get:
      operationId: listEvent
      summary: List event
      description: Events published by Labayh.
      tags:
      - Events
      security: []
      parameters:
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: حصر الرد على المقالات المنشورة بعد تاريخ مُعطى ومتوافق مع معيار ISO8601.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: حصر الرد على المقالات المنشورة قبل تاريخ مُعطى ومتوافق مع معيار ISO8601.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: نطاق الطلب؛ يحدد أي الحقول ستظهر في الرد.
      - name: event_categories
        in: query
        required: false
        schema:
          type: object
          additionalProperties: true
        description: حصر النتائج على العناصر التي ﻻ تمتلك عناصر مُعينة مسندة في الفئة event_categories.
      - name: event_categories_exclude
        in: query
        required: false
        schema:
          type: object
          additionalProperties: true
        description: حصر النتائج على العناصر التي ﻻ تمتلك عناصر مُعينة مسندة في الفئة event_categories.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: تأكد أن النتيجة تستثني معرِّفات معينة.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: حصر النتائج على مُعرفات مُعينة.
      - name: menu_order
        in: query
        required: false
        schema:
          type: integer
        description: حصر النتيجة على مقالات مع قيمة menu_order مُعينة.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: حصر الرد على المقالات المعدلة بعد تاريخ مُعطى ومتوافق مع معيار ISO8601.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: حصر الرد على المقالات المعدلة قبل تاريخ مُعطى ومتوافق مع معيار ISO8601.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: تخطي النتائج برقم محدد من العناصر.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: خاصية الترتيب إما تصاعدي أو تنازلي.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          - menu_order
          default: date
        description: فرز المجموعة حسب خاصية المقالة.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: الصفحة الحالية للمجموعة.
      - name: parent
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: حصر النتائج على العناصر المرتبطة بعنصر أب مُعين.
      - name: parent_exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: حصر النتائج على العناصر الغير مرتبطة بعنصر أب مُعين.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: العدد الأقصى للعناصر ليتم إرجاعه في النتائج.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: حصر النتائج على مطابقة سلسلة نصية.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
          default: []
        description: مجموعة من أسماء الأعمدة التي يتعين البحث فيها
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: كيفية تفسير مدخلات البحث.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: حصر النتيجة على مقالات مع اسم أو عدة أسماء لطيفة مُعينة.
      - name: status
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - any
          default: publish
        description: حصر النتيجة على المقالات المُسندة لحالة واحدة أو أكثر.
      - name: tax_relation
        in: query
        required: false
        schema:
          type: string
          enum:
          - AND
          - OR
        description: حصر النتائج بناءً على العلاقة بين عدة فئات.
      responses:
        '200':
          description: A page of event.
          headers:
            X-WP-Total:
              description: Total number of matching items.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available.
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items: &id011
                  $ref: '#/components/schemas/Event'
        '400':
          $ref: '#/components/responses/BadRequest'
      x-observed-total: 0
    post:
      operationId: createEvent
      summary: Create a event
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Events
      requestBody:
        content:
          application/json:
            schema: *id011
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema: *id011
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /wp/v2/event/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: Unique identifier for the event item.
      schema:
        type: integer
    get:
      operationId: getEvent
      summary: Retrieve a single event item
      tags:
      - Events
      security: []
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: نطاق الطلب؛ يحدد أي الحقول ستظهر في الرد.
      - name: excerpt_length
        in: query
        required: false
        schema:
          type: integer
        description: تجاوز طول المقتطف الافتراضي.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: كلمة مرور المقالة إذا كانت محمية بكلمة مرور.
      responses:
        '200':
          description: The requested item.
          content:
            application/json:
              schema: *id011
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateEvent
      summary: Update a event item
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Events
      requestBody:
        content:
          application/json:
            schema: *id011
      responses:
        '200':
          description: The updated item.
          content:
            application/json:
              schema: *id011
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteEvent
      summary: Delete a event item
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Events
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: ما إذا كان يجب تخطي سلة المهملات وإجبار الحذف.
      responses:
        '200':
          description: The deleted item.
          content:
            application/json:
              schema: *id011
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/event_categories:
    get:
      operationId: listEventCategories
      summary: List event categories
      description: Categories used to classify events.
      tags:
      - Events
      security: []
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: نطاق الطلب؛ يحدد أي الحقول ستظهر في الرد.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: تأكد أن النتيجة تستثني معرِّفات معينة.
      - name: hide_empty
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: ما إذا يجب إخفاء العناصر الغير مُسندة لأي مقالة.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: حصر النتائج على مُعرفات مُعينة.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: خاصية الترتيب إما تصاعدي أو تنازلي.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
        description: فرز المجموعة حسب خاصية العنصر.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: الصفحة الحالية للمجموعة.
      - name: parent
        in: query
        required: false
        schema:
          type: integer
        description: حصر النتيجة على عناصر مُسندة لعنصر أب مُعين.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: العدد الأقصى للعناصر ليتم إرجاعه في النتائج.
      - name: post
        in: query
        required: false
        schema:
          type: integer
        description: حصر النتيجة على عناصر مُسندة لمقالة مُعينة.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: حصر النتائج على مطابقة سلسلة نصية.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: حصر النتائج للفئات مع اسم أو عدة أسماء لطيفة مُعينة.
      responses:
        '200':
          description: A page of event categories.
          headers:
            X-WP-Total:
              description: Total number of matching items.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available.
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items: &id012
                  $ref: '#/components/schemas/EventCategory'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      operationId: createEventCategory
      summary: Create a event categorie
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Events
      requestBody:
        content:
          application/json:
            schema: *id012
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema: *id012
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /wp/v2/event_categories/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: Unique identifier for the event categories item.
      schema:
        type: integer
    get:
      operationId: getEventCategory
      summary: Retrieve a single event categories item
      tags:
      - Events
      security: []
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: نطاق الطلب؛ يحدد أي الحقول ستظهر في الرد.
      responses:
        '200':
          description: The requested item.
          content:
            application/json:
              schema: *id012
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateEventCategory
      summary: Update a event categories item
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Events
      requestBody:
        content:
          application/json:
            schema: *id012
      responses:
        '200':
          description: The updated item.
          content:
            application/json:
              schema: *id012
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteEventCategory
      summary: Delete a event categories item
      description: Requires an authenticated WordPress user with sufficient capability.
      tags:
      - Events
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: مطلوب أن تكون true، لأن العناصر لا تدعم النقل لسلة المهملات.
      responses:
        '200':
          description: The deleted item.
          content:
            application/json:
              schema: *id012
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/posts:
    get:
      operationId: listPosts
      summary: List posts
      description: Blog articles published on labayh.net.
      tags:
      - Content
      security: []
      parameters:
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: حصر الرد على المقالات المنشورة بعد تاريخ مُعطى ومتوافق مع معيار ISO8601.
      - name: author
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: حصر النتيجة على مقالات مُسندة لكُتاب مُعينين.
      - name: author_exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: حصر النتيجة لاستثناء مقالات مُسندة لكُتاب مُعينين.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: حصر الرد على المقالات المنشورة قبل تاريخ مُعطى ومتوافق مع معيار ISO8601.
[...]
